.DS_Store
__pycache__

# 1GB huggingface english text data
datasets


Huggingface

model_weights.pth

ek.txt

training_images/training_images

training_images/pixel_model_weights.pth

training_images/image_model_weights.pth